{% extends "base.html" %}

{% block content %}
<h1>Products</h1>
<div class="row">
	{% for product in products %}
	<div class="col-md-4">
		<div class="card mb-4">
			<img src="{{ url_for('static', filename='img/' ~ product.image) }}" class="card-img-top small-image" alt="{{ product.name }}">
			<div class="card-body">
				<h5 class="card-title">{{ product.name }}</h5>
				<p class="card-text">${{ "%.2f"|format(product.price) }}</p>
				<a href="/cart/add-item?id={{ product.id }}" class="btn btn-primary">Add to Cart</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
